@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(at right top, #2A1B4E, #0A0A0E);
}

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 80px;
    padding-top: 120px;
    padding-bottom: 40px;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 92px;
    color: #fff;
}

.subtitle {
    font-weight: 900;
    color: #00F0FF;
    font-size: 38px;
    margin-top: -10px;
    text-transform: uppercase;
}

.info-cards {
    display: flex;
    gap: 40px;
}

.card {
    padding: 20px 30px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    border: solid 1px rgba(255, 255, 255, 0.1);
    margin-top: 15%;
    backdrop-filter: blur(12px);
}

span {
    display: block;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 5px;
}

.hero-bottom {
    align-self: center;
}

.footer-string {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.4);
    align-self: center;
}

@media (max-width: 768px) {
    .hero {
        padding: 40px 80px;
    }

    .info-cards {
        flex-direction: column;   
        gap: 0px;
        margin-top: 40%;
    }

    .card {
        font-size: 48px;
        margin-top: 0px;
        margin-bottom: 5%;
    }

    h1 {
        font-size: 72px;
    }
}
